.footer {
  margin: 8rem 0 2rem 0;
  text-align: center;

  &__link:link,
  &__link:visited {
    color: #929498;
  }

  &__links-box {
    display: flex;
    justify-content: center;
  }

  &__link {
    padding-left: 5px;
  }

  span {
    padding-left: 5px;
  }
}

.dmca {
  margin-top: 1.5rem;
  text-align: center;
  width: 109px;
}
