.header {
  padding: 4.5rem 0;
  background: $color-black;

  @media only screen and (max-width: $bp-desktop-md) {
    padding: 4.5rem 2rem;
  }

  &__cont {
    display: flex;
    align-items: center;
  }

  &__logo-box {
    height: 5.7rem;
    width: auto;
    margin-right: 8rem;

    @media only screen and (max-width: $bp-tab) {
      margin-right: 3rem;
    }

    @media only screen and (max-width: $bp-tab-por) {
      height: 5rem;
      width: auto;
      align-items: center;
      display: flex;
    }
  }

  &__logo {
    width: 100%;
    height: auto;

    @media only screen and (max-width: $bp-tab-por) {
      width: 80%;
    }

    @media only screen and (max-width: $bp-mobile-small) {
      width: 80%;
    }
  }

  &__menu {
    @media only screen and (max-width: $bp-tab-por) {
      display: none !important;
    }
  }

  &__contact {
    margin-left: auto;

    color: $color-white;
    font-size: 2.5rem;
    text-align: right;

    @media only screen and (max-width: $bp-desktop-sm) {
      font-size: 2rem;
    }

    .contact-text {
    }

    .contact-email {
      color: $color-white;
    }
  }
}

.topmenu {
  list-style: none;
  display: flex;

  &__items {
    margin-right: 2.5rem;
  }

  &__links:link,
  &__links:visited {
    color: $color-white;
  }
}

// responsive menu
