h1 {
  font-size: 3.6rem;

  @media only screen and (max-width: $bp-mobile-small) {
    font-size: 2.6rem;
  }
}

h2 {
  font-size: 2.8rem;

  @media only screen and (max-width: $bp-mobile) {
    font-size: 2rem;
  }
}

h3 {
  font-size: 2.3rem;

  @media only screen and (max-width: $bp-mobile) {
    font-size: 2rem;
  }
}

h3,
h4 {
  text-transform: uppercase;
}
